.toDoAppWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.inputFieldContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  margin-bottom: 20px;
}

.inputField {
  background-color: rgb(233, 233, 233);
  border-radius: 30px;
  border: none;
  height: 36px;
  width: 220px;
 }

 .addToDoButton {
  border-radius: 30px;
  border: none;
  height: 36px;
 }

 .optionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
 }

 .optionsContainerLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  width: 220px;

 }

 .toDoFilter {
  border-radius: 30px;
  border: 1px solid black;
  height: 36px;
 }

 .allCompletedButton {
  border-radius: 30px;
  border: 1px solid black;
  height: 36px;
 }

 .deleteAllCompletedButton {
  border-radius: 30px;
  border: none;
  height: 36px;
 }