.todoAppWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-top: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  width: 400px;
  min-height: 300px;
}

.inputFieldContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: pink; */
  margin-bottom: 20px;
}

.inputFieldContainerLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: orange; */
  width: 350px;
}

.inputField {
  background-color: rgb(233, 233, 233);
  border-radius: 30px;
  border: none;
  height: 36px;
  width: 350px;
  padding-left: 20px;
 }

 .addTodoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid black;
  height: 36px;
 }

 .optionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
 }

 .optionsContainerLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: orange; */
  width: 350px;

 }

 .todoFilter {
  border-radius: 30px;
  border: 1px solid black;
  height: 36px;
  width: 170px;
  padding-left: 20px;
  appearance: none; /* Hide the default arrow */
 }

 .allCompletedButton {
  border-radius: 30px;
  border: 1px solid black;
  height: 36px;
  width: 170px;
 }

 .deleteAllCompletedButton {
  border-radius: 30px;
  border: 1px solid black;
  height: 36px;
 }

 .statusContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  /* background-color: yellow; */
 }

 .todoItemList {
  list-style-type: none;
  padding: 0;
 }

 .todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: pink; */
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid black; /* Add this line */
}

.todoItemLeft {
  display: flex;
  align-items: center;
}

.todoItemRight {
  display: flex;
  align-items: center;
}

.todoItemRight button {
  margin-left: 5px; /* Add spacing between buttons */
}

.inlineEditButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 25px;
  width: 25px;
  border: none;
}


 .addIcon {
 
 }

 .deleteIconBig {
  
 }

 .deleteIconSmall {
  width: 15px;
 }

 .editIcon {
  width: 15px;
 }

 .saveIcon {
  width: 15px;
 }

 .cancelIcon {
  width: 15px;
 }

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust margin as needed */
}

 .spinner {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left-color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

.errorMessage {
  color: red;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

 